@import './_var';

.container {
	padding: 0 1rem;
	width: 100%;
	margin: 0 auto;

	@media only screen and (min-width: 480px) and (max-width: 767px) {
		padding: 0 3rem;
	}

	@media only screen and (min-width: 768px) {
		padding: 0 5.6rem;
		max-width: 102.8rem;
	}
}
